.carousel-item {
    transition: transform 0.6s ease-in-out;
  }
  
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    transform: translateX(0);
  }


  .card1{
    width: 0 auto;
    height: 300;
  }

  footer {
    background-image: url('/img/stage.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  